@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
margin: 0;
padding: 0;

}
p {
  letter-spacing: 0.3px;      
  word-spacing: 0.5px;          
  max-width: 700px;            
  margin: auto;                 
  padding: 0 0.8rem;            
   hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


body, html{
    margin: 0;
    padding: 0;
     scroll-behavior: smooth;
}

/* NAv bar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px 0px;
    height: 50px;
    box-shadow: 5px 10px 30px rgba(255, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}
.logo{
    color: #fff;
    font-size: 15px;
}
.logo h3{
    display: none;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    position: relative;
    
}

nav ul li a{
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    box-shadow: 2px 5px 30px rgba(255, 0, 0, 0.7);
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li:hover{
        padding-bottom: 10px;

    border-bottom: solid 2px #ff0000;

}
.active{
    border-bottom: solid 2px #ff0000;

}
.active{
    box-shadow: 5px 10px 30px rgba(208, 49, 11, 0.9) ;
    border-bottom: solid 2px #ff0000;
    
}
.toggle-btn {display: none;}


.toggle-menu {
    display: none;
}

.toggle-menu img
{
    width: 35px;
}

.toggle-btn{
    color: white;
    font-size: 16px;
}

/* Responssive navbar */

@media screen and (max-width:950px){
.toggle-btn-visible {display: block;}
.toggle-target-hidden {display: none;}
.toggle-target-expanded {display: block;}


nav ul {
    display: flex;
    padding-top: 30%;
    gap: 600px;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;
    z-index: 2;
   

}



nav  ul li {
    margin-top: 20px;
}

nav ul li a{
    color: black;
    /* padding: 25px; */
    font-weight: bold;

}

nav ul li:hover{
    color: rgb(179, 118, 118);
    border-bottom: none;
    
}

.toggle-btn img{
    width: 130%;
}

}

/* Responssive Nav */
@media  screen and (max-width:910px) {
    nav ul li a{
        font-size: 18px;
       
        box-shadow: none;
    }
    nav ul li{
        box-shadow: none;
    }
    .logo h2{
        display: none;
    
    }
    .logo h3{
        display: block;
        font-size: 20px;
    }
    .active{
        border-bottom: none;
    }
}


/*  Hero section */

#hero-section{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 30px;
    
}

.text-hero{
    /* padding-top: 10%; */
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    height: 50vh;
    /* background-color: pink; */
    flex-direction: column;
    text-align: justify;
    padding:0px 10px;
    gap: 1rem;
    /* margin-top: 10%; */
    /* margin: auto; */
    order: 1;
}

.image-hero{
    display: flex;
    flex-basis: 45%;
    max-height: 100vh;
    order: 2;
    margin-bottom: 5%;
}
.image-hero img{ 
    max-width: 100%;
    width: 95%;
    height: auto;
    border-radius: 50%;

}


#about-section{
    background-color: black;
    height: 100vh;
    max-width: 100%;
}

.text-hero h1{
    font-size: 2.4rem;
    text-transform: capitalize;
    text-align: left;
}
.text-hero h2{
    font-size:2.4rem;
    text-align: left;
}
.text-hero h1 span{
    text-transform: uppercase;
    color: red;
}
#hero-section button{
    align-items: center;
    justify-content: center;
    display:flex;
    border: none;
    width: fit-content;
    height: 40px;
    background-color: #ff0000;
    color: white;
    border-bottom:solid black 4px;
    border-radius: 10px;
    font-size: clamp(10px, 2vw, 15px);
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 5px 10px 30px rgba(0,0, 0, 0.9);
    padding: 10px 10px;
}

.text-hero h2 span{
    color: purple;
    font-size: 2.7rem;
    font-weight:bold;
}
.text-hero p{
    font-size: 18px;
    font-family: 'Lora', sans serif;
      text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;   /* Smoother font on Mac */
  -moz-osx-font-smoothing: grayscale; 
}

/* Hero section Responssive */
@media screen  and (max-width:950px){
    #hero-section{
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }

  .image-hero {
    padding-left: 5%;
    order: 1;
    /* margin: none; */
    height: auto;
    margin-bottom: 20px;
    
  }
  .text-hero {
    order: 2;
    height: auto;
  }

  .image-hero img{
    width: 700px;
    height: auto;
    border-radius: 350px;
  }
}
/* Responssive for phone */
@media screen and (max-width:768px) {
    .text-hero h1{
        font-size: 2.0rem;
        text-align: center;
    } 
    .text-hero h2{
    font-size:2.0rem;
    text-align: center;
    /* text-align: left; */
}

 .image-hero img{
    width: 400px;
    height: 400px;
    border-radius: 200px;
  }

  .image-hero{
    height: auto;
    order: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    /* background-color: black; */
    
}

#hero-section {
    gap: 1rem;
    height: auto;
}

.text-hero h1{
    text-align: center;
}

.text-hero p{
    font-size: 17px;
}

    
}